---
title: "Buscar"
layout: default
permalink: "/buscar.html"
---

<div class="container">
  <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
  <div class="navbar-nav ml-auto d-flex align-items-center">
    {% include search-lunr.html %}
  </div>

  <div id="lunrsearchresults">
    <ul class="mb-0"></ul>
  </div>
</div>
