<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{ 'index.html' | relative_url }}">Inicio</a>
</li>
<li class="nav-item">
</li>
<li class="nav-item">
<a class="nav-link" href="mailto:vtamara@pasosdeJesus.org">Contacto</a>
</li>
<li class="nav-item">
</li>
<li class="nav-item">
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'buscar.html' | relative_url }}">
  Buscar en este sitio
</a>
</li>
