<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Destacadas</span></h4>
    <ol class="list-featured">
        {% for post in site.tags.featured %}
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{ post.url | relative_url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    En <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href=" {{ 'categories.html' | relative_url }}#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>
        {% endfor %}
    </ol>
</div>
