<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% seo %}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">

  <!-- Bootstrap Modified -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <!-- Theme Stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">

  <!-- Jquery on header to make sure everything works, the rest  of the scripts in footer for fast loading -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  {% include tracking-header.html %}

</head>

<body class="{% if page.url == "/" %}homefirstpage{% endif %}">

  <!-- Navbar -->
  <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | relative_url }}"><strong>{{site.name}}</strong></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor02" style="">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
          {% include menu-header.html %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <main role="main" class="site-content">
    {{ content }}
  </main>

  <!-- Footer -->
  <footer class="bg-white border-top p-3 text-muted small">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div>
          <span class="navbar-brand mr-2 mb-0"><strong>Aumentanos la fe</strong></span>
          <span>Dominio Público {{ site.time | date: "%Y" }}.</span>

        </div>
        <div>
          Ver código fuente de este sitio en <a target='_blank'
            href='https://gitlab.com/vtamara/fe-j'>
            gitlab
          </a>.
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts: popper, bootstrap, theme, lunr -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>

  {% include tracking-footer.html %}

</body>

</html>
